# Proteus simulation files
*.DSN
*.MDB
*.LDS
*.PDS
*.PDSProj
*.DBK
*.BAK
*.LXL
*.LYT
*.PDSBKP
*.sim
*.elf
*.hex
*.bin
*.lst
*.map
*.srec
*.obj
*.o

# Temporary and backup files
*.bak
*.tmp
*.temp
*~

# IDE and editor files
*.code-workspace
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Other common ignores
Thumbs.db
.DS_Store